In [ ]:
### Importando bibliotecas e classes

In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [ ]:
### Criando dados aleat√≥rios

In [2]:
dados = np.arange(8)
dados

array([0, 1, 2, 3, 4, 5, 6, 7])

In [ ]:
#### Organizando dados

In [3]:
dados.reshape((4,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [ ]:
### Selecionando e buscando dados

In [4]:
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6', 'linha 7', 'linha 8']
serie= Series(dados, index=indice)
serie

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int32

In [ ]:
### Criando DataFrame

In [5]:
np.random.seed(25)
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6']

df = DataFrame(np.random.rand(36).reshape((6,6)),
               index=indice,
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
### Selecionando e buscando apenas aquelas linhas e colunas.

In [10]:
df.loc[['linha 2', 'linha 4', 'linha 6'], ['coluna 1', 'coluna 3']]

         coluna 1  coluna 3
linha 2  0.684969  0.556229
linha 4  0.366395  0.481343
linha 6  0.281701  0.669612

In [ ]:
### Fatiando Dados

In [9]:
serie['linha 3':'linha 6']

linha 3    2
linha 4    3
linha 5    4
linha 6    5
dtype: int32