In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(36).reshape(6,6))
df

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [3]:
### Removendo dados

In [5]:
df.drop([0,2], inplace=True)

In [6]:
df

    0   1   2   3   4   5
1   6   7   8   9  10  11
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [8]:
df.drop([0,2], axis=1)

    1   3   4   5
1   7   9  10  11
3  19  21  22  23
4  25  27  28  29
5  31  33  34  35

In [ ]:
### Acrescentando dados

In [9]:
serie = pd.Series(np.arange(6))
serie.name = 'variavel_somada'
serie

0    0
1    1
2    2
3    3
4    4
5    5
Name: variavel_somada, dtype: int32

In [10]:
variavel_somada = pd.DataFrame.join(df, serie)
variavel_somada

    0   1   2   3   4   5  variavel_somada
1   6   7   8   9  10  11                1
3  18  19  20  21  22  23                3
4  24  25  26  27  28  29                4
5  30  31  32  33  34  35                5

In [ ]:
### Ordenando dados

In [12]:
df_ordenado = variavel_somada.sort_values(by=('variavel_somada'), ascending=[False])
df_ordenado

    0   1   2   3   4   5  variavel_somada
5  30  31  32  33  34  35                5
4  24  25  26  27  28  29                4
3  18  19  20  21  22  23                3
1   6   7   8   9  10  11                1